html, body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Burrito;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3D70D;
    width: 100%;
    z-index: 10;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    border-top: 5px solid #CA270A;
    border-bottom: 5px solid #CA270A;
}

.logo {
    height: auto;

}

.small {
    width: 16%;
    margin-right: 77%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80%;
    position: absolute;
    right: 40%;
}

.header {
    font-size: 6vh;
    color: #CA270A;
    position: relative;
    cursor: pointer;
    -webkit-text-stroke: 0.75px #244A95;
    transform: scale(1);
}

.unselected:hover, .selected {
    transform: scale(1.25);
}



#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: auto;
}

.big {
    position: absolute;
    width: 45%;
}

.big:hover {
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CA270A;
    color: #F3D70D;
    font-size: 2vh;
    padding: 1vh;

}

@font-face {
    font-family: Burrito;
    src: url(../assets/JI\ Burrito.ttf);
}